.Footer__container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.2em;
    box-shadow: 0 0 .2em #fea01c;
    z-index: 1;
    padding: 0.4em;
}

.Footer__social-media{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.Footer__container a{
    font-size: 1.8rem;
    color: rgb(27, 27, 27);
    display: flex;
}